body {
  background-color: turquoise;  
  margin: 10% 20%;
}

h1 {
  line-height: 1;
  color: brown;
  font-size: 42px;
  font-family: Arial, sans-sarif;
}

.address {
  line-height: .3;
}

h3 {
  line-height:;
  color: brown;
  font-size: 24px;
  font-family: Arial, sans-sarif;
}

h2 {
  line-height: 1;
  color: brown;
  font-size: 32px;
  font-family: Arial, sans-sarif;
}

h4 {
   line-height: .3;
  color: brown;
  font-size: 16px;
  font-family: Arial, sans-sarif;
}

p {
  color: brown;
}

ul {
  color: brown;
}

.prof-header {
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

.exp-header {
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

.edu-header {
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}


